[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "~=2.9.0"
netaddr = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
provision = "ansible-playbook -i inventory provision.yml --private-key"
